.container{
  width: 24px;
  height: 24px;
  background-image: url("button_burger.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 16px;
  cursor: pointer;
}