@font-face {
  font-family: "DIN Next W1G";
  src: url("./fonts/dinnextw1g.otf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "DIN Next W1G";
  src: url("./fonts/dinnextw1g_black.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "DIN Next W1G";
  src: url("./fonts/dinnextw1g_light.otf") format("truetype");
  font-style: normal;
  font-weight: 300;
}


